<!-- DescriptionModal -->
<div class="modal hide fade" id="descModal" aria-hidden="true" style="width:50%; margin-left:-25%;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="descModalLabel">Compare Descriptions</h3>
	</div>
	<div class="modal-body">
		<table>
			<tr>
			<td style="border-right:thin solid #E6E6E6; padding-right:10px; vertical-align:top; width:50%;">
				<h4 id="descLocalLabel" class="text-info"></h4>
				<p id="descLocal" style="text-align: justify"></p>
			</td>
			<td style="border-left:thin solid #E6E6E6; padding-left:10px; vertical-align:top; width:50%;">
				<h4 id="descRemoteLabel" class="text-success"></h4>
				<p id="descRemote" style="text-align: justify"></p>
			</td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>