  <ul class="nav nav-tabs">
    <li id="nav_conf_start"><a href="/conf">Start</a></li>
    <li id="nav_conf_namespaces"><a href="/conf/namespaces">Namespaces</a></li>
    <li id="nav_conf_relations"><a href="/conf/relations">Relations</a></li>    
<!--     <li id="nav_conf_concepts"><a href="/conf/concepts">Concepts</a></li> -->
<!--     <li id="nav_conf_properties"><a href="/conf/properties">Properties</a></li> -->   
<!--     <li id="nav_conf_relation_store"><a href="/conf/relation_store">Relation Store</a></li> -->
  </ul>