@(message: String)

@main(message) {
<div class="page-header">
    	<h1>About the Project</h1>
    </div>	
	<h3>Goal</h3>      
		<p>
		The goals of the project <b>Linking and Populating the Digital Humanities</b> are to create and maintain data integration
		tools tailored to digital humanities collections in order to build a machine-readable web of
		facts about covered domains. The tools will interconnect structured digital representations of the
		humanities and leverage the created links to enrich the respective data repositories.
		</p>
		
		<p>Application testbeds include the Indiana Philosophy Ontology (<a href="https://inpho.cogs.indiana.edu/">InPhO</a>) project and the Stanford Encyclopedia
		of Philosophy (<a href="http://plato.stanford.edu/">SEP</a>). The specific outcomes of this proposal will be (a) the implementation
		of a linking service between the InPhO ontology and other knowledge repositories such as DBPedia
		and Freebase; and (b) the population of the InPhO ontology by leveraging the previously
		created links to other data repositories. Most importantly, however, the data integration tools will
		be designed to also serve the needs of other digital humanities projects.</p>

		<p>Another application domain is Jewish culture and history, where the project <a href="http://judaicalink.org">JudaicaLink</a> 
		currently prepares the provision and interlinking of scholarly reference works as Linked Data. The cooperation of JudaicaLink 
		and LinkedHumanities is motivated by the goal to make reference works and domain ontologies available on the 
		Linked Data Web to be consumed, enriched, and linked by digital humanists, e.g., using the scholarly environment developed in <a href="http://dm2e.eu">DM2E</a>. 
		</p>
	      
	<h3>Funders</h3>
	Funding from the <a href="https://securegrants.neh.gov/PublicQuery/main.aspx?f=1&amp;gn=HG-50032-11">NEH/DFG for Bilateral Digital Humanities</a> <b>2012-2014</b>
	<br>
	Project Partner: Indiana Universiy, Bloomington, USA 
	
	<h3>People</h3>
	<div class="row"  style="text-align: center;">
		<div class="span3"><img src="/assets/images/people/niepert_new.png" alt="Mathias Niepert"></div>
		<div class="span3"><img src="/assets/images/people/noessner_new.png" alt="Jan Noessner"></div>
		<div class="span3"><img src="/assets/images/people/jakob_new.png" alt="Jakob Huber"></div>
		<div class="span3"><img src="/assets/images/people/timo_new.png" alt="Timo Sztyler"></div>
	</div>
	<div class="row"  style="text-align: center;">
		<div class="span3"><a href="http://www.matlog.net/research.php">Mathias Niepert</a><br>University of Washington<br>Project director</div>
		<div class="span3"><a href="http://www.jan-noessner.de/">Jan Noessner</a><br>University of Mannheim<br>Project member</div>
		<div class="span3"><a href="http://dws.informatik.uni-mannheim.de/en/people/researchers/jakob-huber/">Jakob Huber</a><br>University of Mannheim<br>Programmer</div>
		<div class="span3"><a href="http://dws.informatik.uni-mannheim.de/en/people/researchers/timo-sztyler/">Timo Sztyler</a><br>University of Mannheim<br>Programmer</div>
	</div>
	 
    <h3>Cooperation Partners</h3>
	<div class="row" style="text-align: center;">
		<div class="span3"><img src="/assets/images/people/colin_new.png" alt="Colin Allen"></div>
		<div class="span3"><img src="/assets/images/people/murdock_new.png" alt="Jaimie Murdock"></div>
		<div class="span3"><img src="/assets/images/people/eckert_new.jpg" alt="Kai Eckert"></div>
		<div class="span3"></div>
	</div>
	<div class="row" style="text-align: center;">
		<div class="span3"><a href="http://mypage.iu.edu/~colallen/">Colin Allen</a><br>Indiana University<br>Project Director of InPhO</div>
		<div class="span3"><a href="http://www.jamram.net/">Jaimie Murdock</a><br>Indiana University<br>Lead Developer of InPhO</div>
		<div class="span3"><a href="http://dws.informatik.uni-mannheim.de/en/people/researchers/dr-kai-eckert/">Kai Eckert</a><br>University of Mannheim<br>Digital Humanities Advisor<br><a href="http://judaicalink.org">JudaicaLink</a> / <a href="http://dm2e.eu">DM2E</a></div>
		<div class="span3"></div>
	</div> 	      
</html>
}
