      <hr>
      <footer>
      	<div class="row-fluid"  style="text-align: center;">
			<div class="span4">
				<a href="http://dws.informatik.uni-mannheim.de/en/"><img src="/assets/images/logo/uni-mannheim2-small.png" alt="Mannheim" style="max-width:75px; height: auto; padding: 0 10px;"></a>
				<a href="http://www.cs.washington.edu/"><img src="/assets/images/logo/uni-washington-small.png" alt="Washington" style="max-width:75px; height: auto; padding: 0 10px;"></a>
				<a href="http://www.cogs.indiana.edu/"><img src="/assets/images/logo/uni-indiana-small.png" alt="Indiana" style="max-width:75px; height: auto; padding: 0 10px;"></a>
			</div>
			<div class="span4">
			<p>
				<small>
				<a href="http://dws.informatik.uni-mannheim.de/en/">University of Mannheim - Research Group Data and Web Science</a> <br>
				<a href="http://www.cs.washington.edu/">University of Washington - Computer Science & Engineering</a> <br>
				<a href="http://www.cogs.indiana.edu/">Indiana University - Cognitive Science Program</a>
				</small>
			</p>				
			</div>
			<div class="span4">
				<p>
				<small>
					<a href="/about">About this Project</a><br>
					<a href="https://github.com/linkedhumanities/lode">Project Page on GitHub</a><br>
					<a href="/dev">Used open source technologies</a>
				</small>
				</p>
			</div>
        </div>
      </footer>