@(message: String)

@main(message) {
      <!-- Main hero unit for a primary marketing message or call to action -->      	
      	<div class="hero-unit">        	
        	<div class="row-fluid">
        		<div class="span4">
        			<h1><a href="/content">LODE</a></h1>
					<p>Linked Open Data Enhancer</p>
				</div>
				<div class="span4" style="margin-top:0.75em;">
					<a href="/content" class="btn btn-large btn-block btn-success">explore</a>					
			        <a href="/contentBulk" class="btn btn-large btn-block btn-success">explore(Bulk)</a>					
						<div class="row-fluid" style="margin-top:0.5em;">
						<div class="span6">
							<a href="/help" class="btn btn-small btn-block">help page</a>								
						</div>					
						<div class="span6">
							<a href="/about" class="btn btn-small btn-block">about the project</a>
						</div>				
					</div>
				</div>			
				<div class="span4"></div>
			</div>
      </div>

      <div class="row">
        <div class="span4">
          <h3>Explore</h3>
          <hr>
        </div>
        <div class="span4">
          <h3>Link</h3>
          <hr>
       </div>
        <div class="span4">
          <h3>Enhance</h3>
          <hr>
        </div>
      </div>    
      
      <div class="row">
	   <div class="span4">
			<h5>Browse and explore your data.</h5>
	   </div>
	   <div class="span4">
			<h5>Connect your data to external repositories.</h5>
	   </div>
	   <div class="span4">
			<h5>Enrich and improve your data.</h5>
	   </div>
      </div>
      
      <div class="row">
	   <div class="span4">
			<img alt="explorer" src="/assets/images/screenshot/browser.png" class="img-polaroid"/>
	   </div>
	   <div class="span4">
			<img alt="linker" src="/assets/images/screenshot/linker.png" class="img-polaroid"/>
	   </div>
	   <div class="span4">
			<img alt="enhancer" src="/assets/images/screenshot/enhancer.png" class="img-polaroid"/>
	   </div>
      </div>
}