@(title: String) @main(title + " - Content ") {
<div class="page-header">
	<h1>Explore</h1>
</div>

<form class="form-inline" onSubmit="return handleClick()" method="get">
	<div class="input-append">
		<input class="span4" id="searchInput" placeholder="search..." value=""
			name="search" size="16" type="text" autocomplete="off">
		<button id="nonlinked" onclick="changeNonlinkedFilter()" type="button"
			class="btn" data-toggle="button">only non-linked</button>
		<button class="btn" onclick="startSearch()" type="submit">Go!</button>
	</div>
</form>
<hr>

<h4>Concept Filter</h4>
<div id="conceptFilter"></div>

<div style="min-height: 300px;">
	<hr>
	<div id="instancesBox">
		@**
		<h4 class="pull-left">
			Instances <small>page: <span class="showNumber">1</span></small>
		</h4>
		**@
		<div id="instances"></div>
	</div>
</div>

<script type="text/javascript">



	$('#nav_content').addClass('active');
	
	function handleClick()
	{
	  return false;
	}
	
	var startToSearch = 3; var showsBasicConcepts = true;
	var lastLength = 0;
	var lastQuery = $("#searchInput").val();
	var activeFilter = new Array();
	var activePage = 1;
	var nonlinked = false;

	$.get("/content/conceptTypeAhead", function (data){
			$('#searchInput').typeahead({source: data});							
		}	
	);
	
	if (typeof $.cookie('search_query') !== 'undefined'){		
		$("#searchInput").val($.cookie('search_query'));
		lastQuery = $("#searchInput").val();
	}
	
	if (typeof $.cookie('search_page') !== 'undefined'){		
		activePage = parseInt($.cookie('search_page'));		
	}
	
	if (typeof $.cookie('search_filter') !== 'undefined'){		
		activeFilter = $.cookie('search_filter').split(",");
		updateStatus();
	}	

	if (typeof $.cookie('nonlinked_filter') !== 'undefined'){		
		nonlinked = ($.cookie('nonlinked_filter') === 'true');
		if (nonlinked){
			$('#nonlinked').addClass('active');
		}
	}
	
	$("#searchInput").keyup(initSearch);
	$("#searchInput").change(initSearch);

		
	function initSearch() {
		var query =$(this).val();
		
		// add penalty to reduce number of queries
		var penalty = 0;
		var temp = 'concept:'
		var end = Math.min(temp.length, query.length);
		if (temp.substring(0, end) === query.substring(0, end)){
			penalty = temp.length;
		}
		
		if (query.length >= startToSearch+penalty && query.length != lastLength){
		  	lastLength = query.length;
		  	getConceptFilter(query,1);
			showsBasicConcepts = false;
		} else if (query.length < startToSearch && !showsBasicConcepts){
			lastLength = query.length;
			getConceptFilter(query,1);
			showsBasicConcepts = true;
		}
	}
	
	function changeNonlinkedFilter(){
		if (!$('#nonlinked').hasClass('active')){
			nonlinked = true;
		} else {
			nonlinked = false;
		}
		$.cookie('nonlinked_filter', nonlinked);
		startSearch();
	}
	
	function startSearch(){
		getConceptFilter($("#searchInput").val(),1);
	}
	
	
	function getConceptFilter(query,page){		
		//$('#instancesBox').hide();		
			  $('#instances').html('<div style="margin: 0 auto; width:300px" class="progress progress-striped active"><div class="bar" style="width: 100%;">Loading Content...</div></div>');				
			  $('#conceptFilter').html('<div style="margin: 0 auto; width:300px" class="progress progress-striped active"><div class="bar" style="width: 100%;">Loading Concept Filter...</div></div>');
			
		query = $.trim(query);
		if (query.match(/:$/)){
			query = query.substring(0,query.length-1);
		}
		
		
		lastQuery = query;
		$.cookie('search_query', lastQuery);
		 $.get("/content/conceptFilter", { query: query, filter: rebuildActiveFilter(), nonlinked: nonlinked}).success(
			   function(data){
					var current = (lastQuery == data['query'] && nonlinked === JSON.parse(data['nonlinked']));
					var selectedFilter = rebuildActiveFilter();
					if (current && 'filter' in data){
						current = $(selectedFilter).not(data['filter']).length == 0 && $(data['filter']).not(selectedFilter).length == 0;
					}
					if (current && 'main' in data){     
						$('#conceptFilter').html(data['main']);
			     	}					
			})
			  .error(function(jqXHR, textStatus, errorThrown) {
				  $('#conceptFilter .progress').removeClass('active progress-striped');
				    var errormsg="Could not load concept filter";
				    
				   

				    $('#conceptFilter .bar').addClass('bar-danger').text(errormsg);
				    return false;
			  });
			
		loadIndividuals(query,page);
	}
	
	function loadIndividuals(query, page){
		if (page < 1){
			alert('You cannot load a page smaller than 1.');
			return;
		}		
		activePage = page;
		$.cookie('search_page', activePage);
		
		$('#instances').html('<div style="margin: 0 auto; width:300px" class="progress progress-striped active"><div class="bar" style="width: 100%;">Loading Content...</div></div>');				

		
		$.get("/content/instances", { query: query, page: page, filter: rebuildActiveFilter(), nonlinked: nonlinked}).success( function(data){
					var current = (lastQuery == data['query'] && nonlinked === JSON.parse(data['nonlinked']));
					var selectedFilter = rebuildActiveFilter();
					if (current && 'filter' in data){
						current = $(selectedFilter).not(data['filter']).length == 0 && $(data['filter']).not(selectedFilter).length == 0;
						//console.log(current + ' <- ' + selectedFilter + ' - ' + data['filter']);
					}
										
					if (current && 'main' in data){
									$('#instances').html(data['main']);
									//$('#instancesBox').show();
									$(lodetooltip())
									$('.showNumber').text(data['page']);
									getFurtherInformation(data['query'],selectedFilter);									
					} else if (current && data['page'] == 0) {
						// no results
						$('#instances').html('<div class="alert alert-info">There are no entities which match the query.</div>');	
					} else if (!current) {
					 	// there is a newer query...
						console.log("%o not equals %o or %o not equals %o or %o not equals %o", lastQuery, data['query'], selectedFilter, data['filter'], nonlinked, JSON.parse(data['nonlinked']));		
					} else {
						// last page reached but next button was not disabled
						activePage = data['page'];
					}
					
					if (data['page'] == 1){
						$('li.prevP').addClass('disabled');
					}
														
					if (data['lastPage'] == 'true'){
						$('li.nextP').addClass('disabled');
						$.cookie('search_page', activePage);
					} 			
	    })
		  .error(function(jqXHR, textStatus, errorThrown) {
			  $('#instances .progress').removeClass('active progress-striped');
			    var errormsg="Could not load concepts";
			    
			    
			    $('#instances .bar').addClass('bar-danger').text(errormsg);
			    return false;
		  });
	
	}
	function prevPage (){
		if (!$('li.prevP').hasClass('disabled'))
			loadIndividuals(lastQuery, activePage-1);
	}
	
	function nextPage (){
		if (!$('li.nextP').hasClass('disabled'))
			loadIndividuals(lastQuery, activePage+1);
	}
	
	function getFurtherInformation(query,filter){
		var ids = new Array()
		$('#instances tr').each(function(i){
			if (i > 0){
				var id = $(this).first().children().children().attr('data-uri-long')
				ids[i-1] = id;				
			}
		});
		//console.log('ID: ' + ids);
		$.get("/content/basicProperties", { id: ids, query : query,filter : filter, nonlinked: nonlinked}).success( function(data){
						var current = (lastQuery == data['query'] && nonlinked === JSON.parse(data['nonlinked']));
						var selectedFilter = rebuildActiveFilter();
						if (current && 'filter' in data){
							current = $(selectedFilter).not(data['filter']).length == 0 && $(data['filter']).not(selectedFilter).length == 0;
						}
						if (current && 'data' in data){		
								// console.log(data);
								var basicProperties = data['data'];
								$('#instances tr').each(function(i){
									if (i > 0){
										var first = $(this).first().children().first();
										// console.log(first);
																				
										var id = first.children().attr('data-uri-long');	
										var short_id = first.children().text();
										
										//add "same as" entities
										if (id in basicProperties && basicProperties[id]['same_as_short'].length > 1){
											var clusterTT = '';
											for (var j = 0; j < basicProperties[id]['same_as_short'].length; j++){
												var sa_short = basicProperties[id]['same_as_short'][j]
												if (short_id !== sa_short) {
													prefix = sa_short.substring(0, sa_short.indexOf(':'));
													localname = sa_short.substring(sa_short.indexOf(':')+1);
																										
													clusterTT += toHtmlLinkShort(data['namespace'][prefix]+localname, sa_short) + ', ';
												}												
											}
											clusterTT = clusterTT.substring(0,clusterTT.length-2);
											var cluster = '<a href="#" class="onlyTooltip" data-toggle="tooltip" title="'+  clusterTT +'"><img style="margin-right: 8px;" src="@routes.Assets.at("images/stack_small.png")"/></a>';
											@**<i class="icon-plus-sign"></i>**@
											first.prepend(cluster);
										}
										
										// set name column
										first = first.next();
										var name= objectToToolTipList(basicProperties[id]['name'], data['namespace']);
										first.html(name);
										
										// set concepts
										first = first.next();
										var concept= objectToToolTipList(basicProperties[id]['concepts'], data['namespace']);
										first.html(concept);
										
										var popoverContent = new Array();
										
										// set same as links
										first = first.next();
										first.css("text-align","center");
										var sameAs='';									
										for(var j=0; j<basicProperties[id]['same_as'].length; j++) {
											if(basicProperties[id]['same_as'][j].indexOf('dbpedia') != -1) {
												var sameAsImg = '<img style="height: 19px; width: 25px; margin-right:5px;" src="@routes.Assets.at("/images/DBpedia-small.png")" alt=""/>';
												var sameAsURL = basicProperties[id]['same_as'][j];
												var sameAsClass = sameAsURL.replace(/[^a-zA-Z 0-9]+/g,'');												
												sameAs='<a data-placement="left" rel="popver" class="' + sameAsClass + ' popover-link" href="#">' + sameAsImg + '</a>'+sameAs;											
												popoverContent[popoverContent.length] = new Array(sameAsClass, sameAsURL, 'dbpedia');
											} 
											/*
											else if(basicProperties[id]['same_as'][j].indexOf('inpho') != -1) {
												sameAs+='<a title="'+basicProperties[id]['same_as'][j]+'" href="'+basicProperties[id]['same_as'][j]+'"><img style="height: 31px; width: 25px; margin-right:5px;" src="@routes.Assets.at("/images/Indiana-small.png")" alt=""/></a>'
											}
											*/ 
										}

										var isEntityLinked="";
										isEntityLinked= true;
										if(basicProperties[id]['same_as'].toString().indexOf('dbpedia') == -1) {
											// go to linker if not linked
											var sameAsImg = '<img style="height: 19px; width: 25px; margin-right:5px;" src="@routes.Assets.at("/images/DBpedia-gray-small.png")" alt=""/>';
											sameAs='<a data-toggle="tooltip" title="Not Linked! Click to start the linker!" href="/link/dbpedia/'+ short_id +'">' +sameAsImg + '</a>'+sameAs;
											isEntityLinked = false;
										}
										/*
										if(basicProperties[id]['same_as'].toString().indexOf('inpho') == -1) {
											sameAs+='<a title="Not Linked!" href="#"><img style="height: 31px; width: 25px; margin-right:5px;" src="@routes.Assets.at("/images/Indiana-grey-small.png")" alt=""/></a>'
										}
										*/
									
										first.html(sameAs);
										for  (i = 0; i < popoverContent.length; i++){
											var sameAsURL = popoverContent[i][1];
											var content = '<ul><li><a href="' + sameAsURL + '">external resource</a></li>';
											content += '<li><a href="enhance/' + short_id + '/' + popoverContent[i][2] +'">enhancer</a></li>';
											content += '<li><a href="/link/' + popoverContent[i][2] + '/' + short_id +'">linker</a></li>';
											// content += '<li><a href="/delete/' + short_id + '/owl:sameAs/' + popoverContent[i][2] +'">remove link</a></li></ul>';
											$("." + popoverContent[i][0]).click(function(event){
											    event.preventDefault();
											  });   
											$("." + popoverContent[i][0]).popover({ title: 'Go to the...', html: true, content: content });
										}
										
										
									
										 
										
										// set top_link
										first = first.next();
										var url = '/linkSamePage/dbpedia/'+ short_id;
										var modified_short_id = short_id.replace(":","_");
										 var progressBar = '<div class="progress progress-striped active"><div id="linkerprogressbarBulk'+modified_short_id+'" class="bar" style="width: 0%;">0%</div></div>';
										 first.html(progressBar);
										 $.get(url).success(
													   function(id){
													   var intervalId=setInterval(function getPercentage()
													    {
													        $.ajax({
													            type: "GET",
													            url: "/statusOnSamePage/"+id,
													            dataType: "html",
													            success: function(value)
													                {
													            		var data = value.split("#!#");
													 
													            		if(data.length==3) {
													            	       	$('#linkerprogressbarBulk'+modified_short_id).html(data[1]+"%");
														                   	document.getElementById('linkerprogressbarBulk'+modified_short_id).style.width=data[1]+'%';
													            		} else {
													            			var top_link_content = 	"<div id='"+data[0]+"' class='alert alert-success drag' style='cursor:pointer;'><span style='font-weight:bold'>"+data[0]+"</span></div>";
													    					first.html(top_link_content);	
													          	            clearInterval(intervalId);
													          	            if(isEntityLinked)
													          	            	first.next().html("<div>Linked!</div>");
													          	            else if(data[0]!="No suggestions found!" && data[0]!="Oh snap! An error occured!")
													          	         		first.next().html("<input type='checkbox' class ='linkerCheckBox' data-source-id="+short_id+" data-target-id='"+data[0]+"' name ='checkBoxes' />");
													          	           }
													                }
													        });
													    },700);	
									}); 
								
									}
									
									
								}); // end instances tr each
								//close popover start
								$(':not(#anything)').on('click', function (e) {
								    $(".popover-link").each(function () {
								        //the 'is' for buttons that trigger popups
								        //the 'has' for icons and other elements within a button that triggers a popup
								        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
								            $(this).popover('hide');
								            return;
								        }
								    });
								});
								//close popover end
 								$(lodetooltip())
// 								$('a.onlyTooltip').click(function(event){
// 								    event.preventDefault();
// 								  });
						}
				}); 			
	}
	
	
	
	
	
	function objectToToolTipList(object, namespace){
		var keys = Object.keys(object);
		var result = '';
									
		for(var i=0; i<keys.length; i++) {
			var key = keys[i];
			var values = object[key];
			
			var prefix = key.substring(0, key.indexOf(':'));
			var localname = key.substring(key.indexOf(':')+1);
			
			//console.log(key + ' ' + values);
			if (typeof values !== "string"){
				for(var j=0; j<values.length; j++) {
					result+= '<a href="#" class="onlyTooltip" data-toggle="tooltip" data-placement="top" title="' + toHtmlLinkShort(namespace[prefix]+localname, key) + '">'+values[j]+'</a>';
					if(j<(values.length-1)|| i <keys.length-1) {
						result+=", ";
					}
				}
			} else if(key.indexOf(', ') != -1) {
				var content = '';				
				$.each(key.split(', '), function(index, value) {
					prefix = value.substring(0, value.indexOf(':'));
					localname = value.substring(value.indexOf(':')+1);
					
					content += toHtmlLinkShort(namespace[prefix]+localname, value)
					if(index < key.split(', ').length-1) {
						content+=", ";
					}	
				});

				result+= '<a href="#" class="onlyTooltip" data-toggle="tooltip" data-placement="top" title="' + content + '">'+ values +'</a>';   
				if(i < keys.length-1) {
					result+=", ";
				}	   
			} else {
				if (prefix.length > 0){
					result+= '<a href="#" class="onlyTooltip" data-toggle="tooltip" data-placement="top" title="' + toHtmlLinkShort(namespace[prefix]+localname, key) + '">'+ values +'</a>';
				} else {
					result+= values;
				}
				if(i < keys.length-1) {
					result+=", ";
				}				
			}
		}
		return result;
	}
	

	// called after a click on a filter, updates badges
	function updateStatus(){
		if(activeFilter.length > 0 && !(activeFilter.length == 1 && activeFilter[0]== "")){
			var filterUsed = false;
			for (var i = 0; i <= activeFilter.length; i++) {
				if (activeFilter[i] !== undefined ){
					filterUsed = true;
				}
			}
			// console.log(filterUsed);				
			if (filterUsed){
				$(".filter").each(function(){
			        if ($(this).hasClass("badge-info")){
						$(this).removeClass("badge-info");
					};
					var value = $(this).attr('data-value');
					if (activeFilter.indexOf(value) != -1){
						$(this).addClass("badge-success");
					}
			      });
			}
		} else {
			$(".filter").each(function(){
		        	$(this).removeClass("badge-info");
					$(this).addClass("badge-info");
				});
		}
	}
	
	// cleans up the active filter array
	function rebuildActiveFilter(){
		var temp = new Array();
		var z = 0;
		for (var i = 0; i <= activeFilter.length; i++) {
			if ($(".filter[data-value]").length > 0){
				if (activeFilter[i] !== undefined && activeFilter[i].length > 0 && $(".filter[data-value='"+activeFilter[i]+"']").length > 0){
					temp[z++] = activeFilter[i];
				}
			} else {
				if (activeFilter[i] !== undefined && activeFilter[i].length > 0){
					temp[z++] = activeFilter[i];
				}					
			}
		}
		activeFilter = temp;
		$.cookie('search_filter', activeFilter);
		return activeFilter;
	}
	
	getConceptFilter(lastQuery,activePage);
	
    function toHtmlLink(uri)
    {
    	return toHtmlLinkShort(uri, uri)
    }
    
    function toHtmlLinkShort(uri1, uri2)
    {
    	return "<b><a href='" + uri1 + "' style='color: #FFFFFF; text-decoration:none;' target='_blank'>" + uri2 + "</a></b>";
    }
</script>

}
