@(entities: List[models.entity.EntityContainer], page : Integer)
@if(entities.isEmpty()) {
	<div class="alert alert-info">
		No Result.
	</div>
	} else { 		
	<ul class="pager">
    	<li class="prevP"><a href="#instancesBox" onclick="prevPage()">Previous</a></li>
    	<li>@page</li>
    	<li class="nextP"><a href="#instancesBox" onclick="nextPage()">Next</a></li>
    </ul>	
	<table class="table table-striped">
            <thead>
                <tr>
                
                  <th style="width: 300px;">URI</th>
                  <th>Name</th>
                  <th>Concepts</th>
                  <th style="text-align: center;">sameAs<br>Links</th>
                  <th style="text-align: center; ">Top Link</th>
                  <th style="text-align: center; ">Select</th>
                </tr>
            </thead>
            <tbody>
	@for(entity <- entities) {
                <tr>
                  <td><a data-toggle="tooltip" data-placement="right" title="<b><a href='@entity.getURI().getValue()' style='color: #FFFFFF; text-decoration:none;' target='_blank'>@entity.getURI().getValue()</a></b>" data-uri-long="@entity.getURI().getValue()" href="content/entity/@helper.urlEncode(entity.getShortURI())">@entity.getShortURI()</a></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td style="text-align: center;"></td> 
                 </tr>
	}
            </tbody>
    </table>
	<ul class="pager">
    	<li class="prevP"><a href="#instancesBox" onclick="prevPage()">Previous</a></li>
    	<li>@page</li>
    	<li class="nextP"><a href="#instancesBox" onclick="nextPage()">Next</a></li>
    	<li ><button class="btn btn-success" id="linkCheckedEntries" style="float : right;">Bulk Link</button></li>
    </ul>
    
    
   <script>   
		$('#linkCheckedEntries').click(function() {
			var linked = [];
			var notLinked = [];
			$("input:checked").each(function() {
				var url = '/link/setlink';
				var source_id = $(this).attr("data-source-id");
				var target_id = $(this).attr("data-target-id");
	
				 $.get(url,{local: source_id ,remote: target_id, relation : "owl:sameAs"}).done(function(){
						linked.push(target_id);
						console.log("linked "+source_id + target_id);
					  
				 })
						 .fail(function(){
						notLinked.push(target_id);
						console.log("not linked"+source_id + target_id);
				});
				 
						});
			location.reload();
			 
			 

		        
		    });

	  
    </script>
    
    
    }